# Node.js dependencies
node_modules/
npm-debug.log*

# Python dependencies
__pycache__/
*.py[cod]
*.pyo
.Python
env/
venv/
ENV/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Temporary files
*.tmp
*.temp
*.bak
*.swp
*.swo
*.~lock.*

# Sensitive files
.env
config.js
secrets.json

# Ignore compiled files
*.o
*.out
*.class

# Ignore specific file types
*.tar.gz
*.zip


